<div>
  <h1>Equipamentos de Cliente</h1>
</div>
<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div style="text-align: center;">
    <mat-form-field style="width: 15em; padding: 2em;">
      <mat-label>Buscar por:</mat-label>
      <mat-select [(value)]="filterName" formControlName="filterName">
        <mat-option value="model">Modelo</mat-option>
        <mat-option value="serialNumber">N° de Série</mat-option>
        <mat-option value="manufacturer">Fabricante</mat-option>
        <mat-option value="deviceType">Tipo</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 30em; padding: 2em;">
      <input matInput type="text" placeholder="Filtro" formControlName="filterValue" />
    </mat-form-field>
    <button mat-button color="primary" type="submit">
      <mat-icon class="mat-18">search</mat-icon>
    </button>
    <button mat-raised-button color="warn" style="margin-left: 2em;" (click)="onReset()">Limpar Busca</button>
  </div>
</form>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortStart="desc"
  (matSortChange)="customSort($event)">

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
    <td mat-cell *matCellDef="let element"> {{element.model.name}} </td>
  </ng-container>

  <ng-container matColumnDef="serialNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Série </th>
    <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fabricante </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="tag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TAG </th>
    <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
    <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
  </ng-container>

  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo </th>
    <td mat-cell *matCellDef="let element"> {{element.group.name}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Detalhes </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="onDetails(element.id)">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Deletar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="redirectToDelete(element.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator showFirstLastButtons (page)="onChangePage($event)" [length]="length" [pageSize]="pageSize"
  [pageIndex]="pageIndex" [pageSizeOptions]="[10, 20, 50]">
</mat-paginator>
