<mat-card class="os-card">
  <mat-card-content style="width: 100%;">
    <div>
      <div style="text-align: center;">
        <mat-card-title>Ordens de Serviço Abertas</mat-card-title>
      </div>
      <div style="padding-left: 7rem;">
        <ul>
          <li>
            <h5 class="os-intern">
              <i></i>Externas
            </h5>
          </li>
          <li>
            <h5 class="os-extern">
              <i></i>Internas
            </h5>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <apx-chart class="chart"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
        [grid]="chartOptions.grid">
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>

