<form [formGroup]="standardForm">
  <h1 mat-dialog-title>{{title}}</h1>
  <div style="text-align: center;">
    <div mat-dialog-content>
      <div style="display: inline-block; width: 100%;">
        <mat-form-field style="width: 25%; float: left; margin-right: 2.5%;">
          <mat-label>Fabricante</mat-label>
          <input matInput value="{{manufacturer.name}}" [readonly]="noEdit">
        </mat-form-field>
        <mat-form-field style="width: 45%; float: left;">
          <mat-label>Modelo</mat-label>
          <input matInput value="{{standardName.name}}" [readonly]="noEdit">
        </mat-form-field>
        <mat-form-field style="width: 25%; float: right;">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="description" [readonly]="noEdit">
        </mat-form-field>
        <mat-form-field style="width: 20%; float: left; margin-right: 5%;">
          <mat-label>TAG</mat-label>
          <input matInput formControlName="tag" [readonly]="noEdit">
        </mat-form-field>
        <mat-form-field style="width: 25%; float: left; margin-right: 5%;">
          <mat-label>N° Série</mat-label>
          <input matInput formControlName="serialNumber" [readonly]="noEdit">
        </mat-form-field>
        <mat-form-field style="width: 15%; float: left; margin-right: 5%;">
          <mat-label>Grupo</mat-label>
          <input matInput value="{{group.name}}" [readonly]="noEdit">
        </mat-form-field>
        <mat-form-field style="width: 25%; float: right;">
          <mat-label>Localização</mat-label>
          <input matInput value="{{toolGroup.name}}" [readonly]="noEdit">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions style="float: right;">
    <button mat-raised-button (click)="onCancel()" mat-raised-button color="warn">{{messageOnClose}}</button>
    <button *ngIf="noEdit == true" mat-raised-button type="submit" color="primary"
      style="background-color: #02bb02; width: 11em;" (click)="onEditStandard()">Alterar Registro</button>
    <button *ngIf="noEdit == false" mat-raised-button type="submit" color="primary"
      style="background-color: #0057fa; width: 11em;" (click)="onSubmit()">Salvar</button>
  </div>
</form>
