<h1>{{title}}</h1>
<form [formGroup]="addressForm">
  <mat-card style="height: 16em;">
    <mat-card-content>
      <mat-form-field style="float: left; width: 80%;">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>
      <mat-form-field style="float: right; width: 16%;">
        <mat-label>Número</mat-label>
        <input matInput formControlName="number">
      </mat-form-field>
      <mat-form-field style="float: left; width: 30%;">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complement">
      </mat-form-field>
      <mat-form-field style="float: right; width: 65%;">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="neighborhood">
      </mat-form-field>
      <mat-form-field style="float: left; width: 15%; margin-right: 1em;">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep">
      </mat-form-field>
      <mat-form-field style="float: left; width: 50%; margin-right: 1em;">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
      <mat-form-field style="float: left; width: 8%;">
        <mat-label>Estado</mat-label>
        <input matInput formControlName="state">
      </mat-form-field>
      <mat-form-field style="float: right; width: 18%; margin-left: 1em;">
        <mat-label>País</mat-label>
        <mat-select formControlName="country">
          <mat-option value="country">Brasil</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <div mat-dialog-actions style="float: right;">
      <button mat-raised-button (click)="onCancel()" mat-raised-button color="warn">Cancelar</button>
      <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Concluir</button>
    </div>
  </mat-card>
</form>
