<div>
  <h1>Instrumentos</h1>
</div>
<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
  <div class="search-form">
    <mat-form-field class="search-form-field">
      <mat-label>Buscar por:</mat-label>
      <mat-select [(value)]="filterName" formControlName="filterName">
        <mat-option value="serialNumber">N° de Série</mat-option>
        <mat-option value="manufacturer">Fabricante</mat-option>
        <mat-option value="description">Descrição</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="width-30">
      <input matInput type="text" placeholder="Filtro" formControlName="filterValue" />
    </mat-form-field>
    <button mat-button color="primary" type="submit">
      <mat-icon class="search-icon-2">search</mat-icon>
    </button>
    <button mat-raised-button color="warn" style="margin-left: 2em;" (click)="onReset()">Limpar Busca</button>
  </div>
</form>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortStart="desc"
  (matSortChange)="onSort($event)">

  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fabricante </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="serialNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Série </th>
    <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="toolGroup">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Localização </th>
    <td mat-cell *matCellDef="let element"> {{element.toolGroup.name}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Detalhes </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="onDetails(element.id)">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Deletar </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="onDeleteInstrument(element.id)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator showFirstLastButtons (page)="onChangePage($event)" [length]="length" [pageSize]="pageSize"
  [pageIndex]="pageIndex" [pageSizeOptions]="[10, 20, 50]">
</mat-paginator>
